mamovies-upload-workflow.json
{
  "name": "Mamovies - Torrent Series Upload",
  "nodes": [
    {
      "parameters": {
        "content": "## Descargar torrent\n- Cargar datos de la serie en form\n- Iniciar descargar de .torrent\n",
        "height": 144,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -528
      ],
      "typeVersion": 1,
      "id": "7488c6ca-438d-4b62-bc18-3cfd0b74a295",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Esperar descarga finalizada\n- Leer info de download\n- Si no finalizo, seguir leyendo info\n- Si excedio tiempo de espera, terminar proceso\n- Si finalizo ok la descarga, mover carpeta a /series \n",
        "height": 144,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -528
      ],
      "typeVersion": 1,
      "id": "6d532de1-7b07-471e-ae47-331f8fde2655",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Subir temporada de serie a Mamovies\n- Preparar carpeta de temporada, son subtitulos y estructurar carpetas de capitulos\n- Obtener token de Mamovies\n- Ejecutar upload a Mamovies de la temporada de serie\n",
        "height": 144,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -528
      ],
      "typeVersion": 1,
      "id": "86ddb119-47c6-490d-af81-88ea83d3b258",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "http://qbittorrent:8080/api/v2/torrents/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "downloading"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        -160
      ],
      "id": "0b30b6bc-b8a5-4e83-a045-d867bc389faf",
      "name": "Leer info del torrent",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "6quuM9Dsd6m8MqxC",
          "name": "qBittorrent Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qbittorrent:8080/api/v2/torrents/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "torrents",
              "inputDataFieldName": "Torrent"
            },
            {
              "name": "savepath",
              "value": "."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        -160
      ],
      "id": "0f4549cc-a85b-449b-8022-a2a589003a03",
      "name": "Iniciar descarga de torrent",
      "credentials": {
        "httpBasicAuth": {
          "id": "6quuM9Dsd6m8MqxC",
          "name": "qBittorrent Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        -160
      ],
      "id": "1e93059e-386e-4c05-9c4c-58066120e240",
      "name": "Esperar a que inicie la descarga",
      "webhookId": "3f8b1db4-10cd-4ca1-988d-0993c9a551c8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "37f1842b-58d0-450d-ab4c-77804d147b74",
              "leftValue": "={{ $json.state }}",
              "rightValue": "downloading",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -160
      ],
      "id": "bfff7875-f545-453c-8502-5705bd3c2765",
      "name": "Si no termino la descarga"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        48
      ],
      "id": "a79fab28-982b-44ac-89c3-8fe2443bcbce",
      "name": "Esperar 30 segundos",
      "webhookId": "e96b433b-cf9e-4371-a757-a707393ee288"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f98d95f2-85a0-4448-8292-a88acb6d56ec",
              "leftValue": "={{$runIndex}}",
              "rightValue": 240,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        48
      ],
      "id": "35cf4b7a-8cba-4e60-8fbc-fd1901025d06",
      "name": "Si se excedio el tiempo de espera"
    },
    {
      "parameters": {
        "chatId": "6853275418",
        "text": "=⏰ TIMEOUT - Descarga cancelada\n\n🎬 Torrent: {{$('Leer info del torrent').item.json.name}}\n⏱️ Tiempo máximo excedido: 2 horas\n🔄 Loops ejecutados: {{$runIndex}}\n\n❌ El torrent no completó la descarga en el tiempo esperado.\n\n🔍 Posibles causas:\n- Pocos seeders disponibles\n- Conexión lenta\n- Torrent demasiado grande\n\n👉 Verificá el estado en qBittorrent:\nhttp://localhost:8080\n\n💡 Podés:\n- Esperar más tiempo manualmente\n- Buscar otro torrent con más seeders\n- Revisar tu conexión",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        288
      ],
      "id": "ff1c4cf9-ce4f-49bd-a8c3-34871764e8de",
      "name": "Informar cancelacion de descarga por timeout",
      "webhookId": "5b1193dc-64a9-41dc-819c-5c9d72f219d1",
      "credentials": {
        "telegramApi": {
          "id": "ZX0rSqGvhDwOokle",
          "name": "Telegram Mamovies"
        }
      }
    },
    {
      "parameters": {
        "url": "http://qbittorrent:8080/api/v2/torrents/info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "completed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -160
      ],
      "id": "83588068-b97a-4710-a557-dfa82e7a1689",
      "name": "Filtrar el torrent ya descargado"
    },
    {
      "parameters": {
        "command": "=mkdir -p \"/series/{{$('Webhook').item.json.body['Serie']}}\" && mv \"{{$json.content_path}}\" \"/series/{{$('Webhook').item.json.body['Serie']}}/Season {{$('Webhook').item.json.body['Temporada']}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "232bb8c1-3c5b-4e6f-aa66-842a2cb2e78c",
      "name": "Mover carpeta de descarga a /series"
    },
    {
      "parameters": {
        "command": "=SERIES_BASE=/series /series/prepare-season.sh -t '{{$('Webhook').item.json.body['Serie']}}' -s {{$('Webhook').item.json.body['Temporada']}} -e {{$('Webhook').item.json.body['Episodios']}} --skip-sync"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1104,
        -160
      ],
      "id": "e0a796d0-3bd4-4686-8102-3edbdfdfc8ed",
      "name": "Preparar directorio de temporada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:4000/api/user/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "fedmilo"
            },
            {
              "name": "password",
              "value": "Catedral.23!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -160
      ],
      "id": "07105cc9-8034-4265-80dc-14d19414c67c",
      "name": "Obtener Mamovies token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:4000/api/series/upload/season",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.data.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"seriesTitle\": \"{{$('Webhook').item.json.body['Serie']}}\",\n  \"season\": {{$('Webhook').item.json.body['Temporada']}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        -160
      ],
      "id": "65264e0b-1e83-429a-bcef-60220bf0e8af",
      "name": "Subir la serie",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "6853275418",
        "text": "=✅ *Serie subida exitosamente*\n\n📺 *Serie:* {{ $('Webhook').item.json.body.Serie }}\n📅 *Temporada:* {{ $('Webhook').item.json.body.Temporada }}\n🎬 *Episodios:* {{ $('Webhook').item.json.body.Episodios }}\n\n📦 *Torrent:* {{ $('Webhook').item.binary['Torrent']['fileName'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        -176
      ],
      "id": "28eefabd-1d2e-4bfb-907b-485845b65d74",
      "name": "Enviar mensaje de subida OK",
      "webhookId": "5b1193dc-64a9-41dc-819c-5c9d72f219d1",
      "credentials": {
        "telegramApi": {
          "id": "ZX0rSqGvhDwOokle",
          "name": "Telegram Mamovies"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3531813f-f775-47fd-890b-3c97931013ae",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -160
      ],
      "id": "2ef79e16-a257-4776-9949-3853021c82e2",
      "name": "Webhook",
      "webhookId": "3531813f-f775-47fd-890b-3c97931013ae"
    }
  ],
  "pinData": {},
  "connections": {
    "Leer info del torrent": {
      "main": [
        [
          {
            "node": "Si no termino la descarga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar descarga de torrent": {
      "main": [
        [
          {
            "node": "Esperar a que inicie la descarga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a que inicie la descarga": {
      "main": [
        [
          {
            "node": "Leer info del torrent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si no termino la descarga": {
      "main": [
        [
          {
            "node": "Esperar 30 segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtrar el torrent ya descargado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 30 segundos": {
      "main": [
        [
          {
            "node": "Si se excedio el tiempo de espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si se excedio el tiempo de espera": {
      "main": [
        [
          {
            "node": "Informar cancelacion de descarga por timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer info del torrent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar el torrent ya descargado": {
      "main": [
        [
          {
            "node": "Mover carpeta de descarga a /series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover carpeta de descarga a /series": {
      "main": [
        [
          {
            "node": "Preparar directorio de temporada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar directorio de temporada": {
      "main": [
        [
          {
            "node": "Obtener Mamovies token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Mamovies token": {
      "main": [
        [
          {
            "node": "Subir la serie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir la serie": {
      "main": [
        [
          {
            "node": "Enviar mensaje de subida OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje de subida OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Iniciar descarga de torrent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0019322b-4f99-4b12-bd2c-2cf6c0046351",
  "meta": {
    "instanceId": "e6da004272f5a12223e502aa9a32f45daec42d7eac797c6526feba8215fa31ac"
  },
  "id": "t9SGEiqBFiYZ5DGO",
  "tags": []
}