series-upload-workflow.json
{
  "name": "Mamovies - Torrent Series Upload",
  "nodes": [
    {
      "parameters": {
        "url": "http://qbittorrent:8080/api/v2/torrents/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filter", "value": "downloading" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-16, 176],
      "id": "5e94f26f-617d-41ea-ab65-bbfae423c54c",
      "name": "Leer info del torrent",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": { "id": "6quuM9Dsd6m8MqxC", "name": "qBittorrent Auth" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qbittorrent:8080/api/v2/torrents/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "torrents", "inputDataFieldName": "Torrent" },
            { "name": "savepath", "value": "." }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-448, 176],
      "id": "4e5c26e3-0a85-4d8d-ac8f-61e376d0b921",
      "name": "Iniciar descarga de torrent",
      "credentials": {
        "httpBasicAuth": { "id": "6quuM9Dsd6m8MqxC", "name": "qBittorrent Auth" }
      }
    },
    {
      "parameters": { "amount": 10 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-240, 176],
      "id": "a026ae84-bfd7-4d0f-a67c-50358b965975",
      "name": "Esperar a que inicie la descarga",
      "webhookId": "3f8b1db4-10cd-4ca1-988d-0993c9a551c8"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "37f1842b-58d0-450d-ab4c-77804d147b74",
              "leftValue": "={{ $json.state }}",
              "rightValue": "downloading",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [208, 176],
      "id": "21342ad5-2f4c-452a-a358-aad310666d5b",
      "name": "Si no termino la descarga"
    },
    {
      "parameters": { "amount": 30 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [624, 384],
      "id": "811c820c-0ae9-41f6-bdf1-365884846645",
      "name": "Esperar 30 segundos",
      "webhookId": "e96b433b-cf9e-4371-a757-a707393ee288"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "f98d95f2-85a0-4448-8292-a88acb6d56ec",
              "leftValue": "={{$runIndex}}",
              "rightValue": 240,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [816, 384],
      "id": "d74685c2-e343-41db-99f2-b965c7f36468",
      "name": "Si se excedio el tiempo de espera"
    },
    {
      "parameters": {
        "chatId": "6853275418",
        "text": "=⏰ TIMEOUT - Descarga cancelada\n\n🎬 Torrent: {{$('Leer info del torrent').item.json.name}}\n⏱️ Tiempo máximo excedido: 2 horas\n🔄 Loops ejecutados: {{$runIndex}}\n\n❌ El torrent no completó la descarga en el tiempo esperado.\n\n🔍 Posibles causas:\n- Pocos seeders disponibles\n- Conexión lenta\n- Torrent demasiado grande\n\n👉 Verificá el estado en qBittorrent:\nhttp://localhost:8080\n\n💡 Podés:\n- Esperar más tiempo manualmente\n- Buscar otro torrent con más seeders\n- Revisar tu conexión",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [848, 624],
      "id": "4cd10dbd-9d34-4358-90c9-0e6eaa8e48f5",
      "name": "Informar cancelacion de descarga por timeout",
      "webhookId": "5b1193dc-64a9-41dc-819c-5c9d72f219d1",
      "credentials": {
        "telegramApi": { "id": "ZX0rSqGvhDwOokle", "name": "Telegram Mamovies" }
      }
    },
    {
      "parameters": {
        "url": "http://qbittorrent:8080/api/v2/torrents/info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "filter", "value": "completed" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [672, 176],
      "id": "ee5fecc5-bcbb-4931-bf26-d32d07cf763f",
      "name": "Filtrar el torrent ya descargado"
    },
    {
      "parameters": {
        "command": "=mkdir -p \"/series/{{$('Webhook').item.json.body['Serie']}}\" && mv \"{{$json.content_path}}\" \"/series/{{$('Webhook').item.json.body['Serie']}}/Season {{$('Webhook').item.json.body['Temporada']}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [864, 176],
      "id": "d220e533-cb5c-4bf5-ad65-fc50ebb2641a",
      "name": "Mover carpeta de descarga a /series"
    },
    {
      "parameters": {
        "command": "=SERIES_BASE=/series /series/prepare-season.sh -t '{{$('Webhook').item.json.body['Serie']}}' -s {{$('Webhook').item.json.body['Temporada']}} -e {{$('Webhook').item.json.body['Episodios']}} --skip-sync"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1072, 176],
      "id": "5f4b9427-06f5-4aa2-9394-4f0a5ee99c89",
      "name": "Preparar directorio de temporada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:4000/api/user/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "fedmilo" },
            { "name": "password", "value": "Catedral.23!" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1248, 176],
      "id": "9ff40fb9-b770-4dc0-b146-affe2c8fe5cf",
      "name": "Obtener Mamovies token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:4000/api/series/upload/season",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.data.accessToken }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"seriesTitle\": \"{{$('Webhook').item.json.body['Serie']}}\",\n  \"season\": {{$('Webhook').item.json.body['Temporada']}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1424, 176],
      "id": "1c141620-8395-4154-9614-496c752070eb",
      "name": "Subir la serie",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "6853275418",
        "text": "=✅ *Serie subida exitosamente*\n\n📺 *Serie:* {{ $('Webhook').item.json.body.Serie }}\n📅 *Temporada:* {{ $('Webhook').item.json.body.Temporada }}\n🎬 *Episodios:* {{ $('Webhook').item.json.body.Episodios }}\n\n📦 *Torrent:* {{ $('Webhook').item.binary['Torrent']['fileName'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1664, 160],
      "id": "21613ee9-b4e6-40b9-9fdd-0f32b0432bb5",
      "name": "Enviar mensaje de subida OK",
      "webhookId": "5b1193dc-64a9-41dc-819c-5c9d72f219d1",
      "credentials": {
        "telegramApi": { "id": "ZX0rSqGvhDwOokle", "name": "Telegram Mamovies" }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3531813f-f775-47fd-890b-3c97931013ae",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-656, 176],
      "id": "b44f56b6-dafd-4ab4-b1d7-eef652729bb9",
      "name": "Webhook",
      "webhookId": "3531813f-f775-47fd-890b-3c97931013ae"
    },
    {
      "parameters": {
        "content": "## Descargar torrent\n- Cargar datos de la serie en form\n- Iniciar descargar de .torrent\n",
        "height": 144,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-624, -192],
      "typeVersion": 1,
      "id": "72143080-203b-428a-9151-bd9c87e3fa71",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Esperar descarga finalizada\n- Leer info de download\n- Si no finalizo, seguir leyendo info\n- Si excedio tiempo de espera, terminar proceso\n- Si finalizo ok la descarga, mover carpeta a /series \n",
        "height": 144,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-272, -192],
      "typeVersion": 1,
      "id": "db11aa83-f1c1-45b2-b70e-a757f22a5314",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Subir temporada de serie a Mamovies\n- Preparar carpeta de temporada, son subtitulos y estructurar carpetas de capitulos\n- Obtener token de Mamovies\n- Ejecutar upload a Mamovies de la temporada de serie\n",
        "height": 144,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1056, -192],
      "typeVersion": 1,
      "id": "d95c84bf-ed51-461b-9161-d1e9f79a5de4",
      "name": "Sticky Note5"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"torrent_started\", \"message\": \"Torrent enviado a qBittorrent\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-448, 400],
      "id": "bb000001-0000-0000-0000-000000000001",
      "name": "[Notify] Torrent iniciado",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"downloading\", \"progress\": {{Math.round(($json.progress || 0) * 100)}}, \"message\": \"Descargando {{Math.round(($json.progress || 0) * 100)}}%\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [208, 400],
      "id": "bb000001-0000-0000-0000-000000000002",
      "name": "[Notify] Descargando",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"downloaded\", \"message\": \"Descarga completada\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [672, 400],
      "id": "bb000001-0000-0000-0000-000000000003",
      "name": "[Notify] Descarga completada",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"files_moved\", \"message\": \"Archivos organizados en /series\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [864, 400],
      "id": "bb000001-0000-0000-0000-000000000004",
      "name": "[Notify] Archivos organizados",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"season_prepared\", \"message\": \"Directorio de temporada preparado\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1072, 400],
      "id": "bb000001-0000-0000-0000-000000000005",
      "name": "[Notify] Temporada preparada",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"upload_ok\", \"message\": \"Serie subida a Mamovies exitosamente\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1424, 400],
      "id": "bb000001-0000-0000-0000-000000000006",
      "name": "[Notify] Serie subida",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.188:3333/progress",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobId\": \"{{$('Webhook').item.json.body['jobId']}}\", \"step\": \"timeout\", \"message\": \"Timeout: la descarga fue cancelada\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [816, 816],
      "id": "bb000001-0000-0000-0000-000000000007",
      "name": "[Notify] Timeout",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Leer info del torrent": {
      "main": [
        [{ "node": "Si no termino la descarga", "type": "main", "index": 0 }]
      ]
    },
    "Iniciar descarga de torrent": {
      "main": [
        [
          { "node": "Esperar a que inicie la descarga", "type": "main", "index": 0 },
          { "node": "[Notify] Torrent iniciado", "type": "main", "index": 0 }
        ]
      ]
    },
    "Esperar a que inicie la descarga": {
      "main": [
        [{ "node": "Leer info del torrent", "type": "main", "index": 0 }]
      ]
    },
    "Si no termino la descarga": {
      "main": [
        [
          { "node": "Esperar 30 segundos", "type": "main", "index": 0 },
          { "node": "[Notify] Descargando", "type": "main", "index": 0 }
        ],
        [{ "node": "Filtrar el torrent ya descargado", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 30 segundos": {
      "main": [
        [{ "node": "Si se excedio el tiempo de espera", "type": "main", "index": 0 }]
      ]
    },
    "Si se excedio el tiempo de espera": {
      "main": [
        [
          { "node": "Informar cancelacion de descarga por timeout", "type": "main", "index": 0 },
          { "node": "[Notify] Timeout", "type": "main", "index": 0 }
        ],
        [{ "node": "Leer info del torrent", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar el torrent ya descargado": {
      "main": [
        [
          { "node": "Mover carpeta de descarga a /series", "type": "main", "index": 0 },
          { "node": "[Notify] Descarga completada", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mover carpeta de descarga a /series": {
      "main": [
        [
          { "node": "Preparar directorio de temporada", "type": "main", "index": 0 },
          { "node": "[Notify] Archivos organizados", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar directorio de temporada": {
      "main": [
        [
          { "node": "Obtener Mamovies token", "type": "main", "index": 0 },
          { "node": "[Notify] Temporada preparada", "type": "main", "index": 0 }
        ]
      ]
    },
    "Obtener Mamovies token": {
      "main": [
        [{ "node": "Subir la serie", "type": "main", "index": 0 }]
      ]
    },
    "Subir la serie": {
      "main": [
        [
          { "node": "Enviar mensaje de subida OK", "type": "main", "index": 0 },
          { "node": "[Notify] Serie subida", "type": "main", "index": 0 }
        ],
        [{ "node": "Enviar mensaje de subida OK", "type": "main", "index": 0 }]
      ]
    },
    "Webhook": {
      "main": [
        [{ "node": "Iniciar descarga de torrent", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "ee131c2d-22e2-4005-a7da-c47e79ffcc71",
  "meta": {
    "instanceId": "e6da004272f5a12223e502aa9a32f45daec42d7eac797c6526feba8215fa31ac"
  },
  "id": "t9SGEiqBFiYZ5DGO",
  "tags": []
}
